/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background: hsla(0, 0%, 95%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2F2F2", endColorstr="#FFFFFF", GradientType=1 );
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: white;
}

ul {
  padding: 1em;
}

/* Utility */

.container {
  max-width: 900px;
  /* width: 90%; */
  margin: 0 auto;
}

.container-fullscreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  /* padding-top: 3em; */
}

.container-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  width: 90%;
  min-height: calc(100vh - 70px);
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: white;
}

.icon {
  color: black;
  margin-right: 0.5em;
}

.icon:hover,
.icon:focus {
  color: #e53d00;
}

.orange {
  color: #ee6c4d;
}

.gunmental {
  color: #293241;
}

.links {
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.links:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hide {
  display: none;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  color: black;
}

p {
  font-family: 'Lato';
  line-height: 1.4em;
}

/* NAVIGATION */

.site-title a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.site-title a:hover,
.site-title a:focus {
  color: #ee6c4d;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul li a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.nav-ul li a:hover {
  color: #ee6c4d;
}

.nav-link-resume {
  border: 1px solid white;
  border-radius: 5%;
}
.nav-link-resume:hover {
  border: 1px solid #ee6c4d;
}

@media (max-width: 650px) {
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.show {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 100;
    background: black;
  }

  .hamburger {
    display: block;
  }
}

/************ HOME ************/

.home p {
  margin: 0 0 1.25em 0.125em;
  font-size: 1.5em;
}

.home h2 {
  margin: auto 0;
  font-size: 3em;
}

.home h3 {
  margin: 0.8em 0;
  font-size: 2em;
}

.home-info .links {
  font-size: 1.5rem;

}

/************ ABOUT ************/

.about h2 {
  margin: 0.5em 0 1.5em 0;
}

.about-info {
  display: flex;
}

.about-info-content {
  width: 65%;
  font-size: 1.125rem;
}

.about-info-content p {
  margin-bottom: 0.75em;
}

.about-info-content ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.about-info-content ul li {
  margin: 0 0.25em;
}

.about-info-image {
  width: 30%;
  margin-left: 1em;
}

.about-img {
  width: 100%;
  object-fit: cover;
  /* border-radius: 1em; */
  /* border: 1px solid black; */
}

@media (max-width: 675px) {
  .about-info {
    flex-direction: column;
    align-items: center;
  }

  .about-info-image {
    margin-left: 0;
    width: 60%;
  }

  .about-info-content {
    width: 100%;
  }

  .about-info-content ul {
    justify-content: center;
  }
}

/************ EXPERIENCE ************/

.experience {
  display: flex;
  flex-direction: column;
}

.experience h2 {
  margin-bottom: 1em;
}

.experience-companies {
  margin-bottom: 1em;
}

.experience-companies button {
  border: none;
  padding: 0.5em 2em;
  background: none;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
  opacity: 0.4;
}

.experience-companies button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.experience-companies .active-btn {
  border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
  opacity: 1;
}

.experience-info {
  height: 450px;
}

/************ WORK ************/
.work {
  display: flex;
  flex-direction: column;
}

.work > h2 {
  margin-bottom: 2em;
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: lightgray;
  margin-bottom: 2em;
}

.work-card-img-container {
  flex-basis: 60%;
}

.work-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.work-card-content {
  padding: 1em;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'body body'
    'code-links tech-used';
}

.work-card-title {
  grid-area: title;
  margin-bottom: 0.5em;
  justify-self: left;
}

.work-card-body {
  grid-area: body;
  margin-bottom: 3em;
}

.work-code-links {
  grid-area: code-links;
}

.work-code-links * {
  margin-right: 0.125em;
}

.work-tech-used {
  grid-area: tech-used;
  justify-self: end;
}

@media (min-width: 500px) {
  .work-card {
    flex-direction: row;
  }

  .work-card.alt .work-card-img-container {
    order: 1;
  }

  .work-card .work-card-title {
    justify-self: right;
  }

  .work-card.alt .work-card-title {
    justify-self: left;
  }
}

/************ CONTACT ************/
.contact {
  align-items: center;
}

.contact p {
  width: 50%;
  text-align: center;
  margin: 1.5em;
}

.contact a {
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5em 1em;
  color: black;
}

.contact a:hover,
.contact a:focus {
  color: white;
  background: black;
}

/************ FOOTER ************/
footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 0.25em;
}

footer a:hover {
  color: #ee6c4d;
  cursor: pointer;
}

/* MISC */
